.btn-group.options-view {
  margin-top: 5px;
}

.list-group.client-view {
  margin-top: 5px;
}

.list-group.client-view > li {
  padding: 2px;
}

div#message-column {
  height: 100%;
  min-height: 50px;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 5px;
}

a#user {
  color: black;
  text-decoration: none;
}

