.btn-group.options-view {
  margin-top: 5px;
}

.list-group.client-view {
  margin-top: 5px;
}

.list-group.client-view > li {
  padding: 2px;
}

.well#message-pane {
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;
  border-top-left-radius: 0px;
}

a#user {
  color: black;
  text-decoration: none;
}

